@import "~../../../../styles.scss";

p {
  color: white;
}

.div-card {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  position: absolute;
  left: 67%;
  right: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  max-height: 370px;
  height: 100%;
}

.div-form-content {
  text-align: center;
  top: 20%;
  position: absolute;
}

.icon {
  font-size: 22px;
  padding-right: 12px;
}

.mat-form-field {
  width: 100%;
  max-width: 250px;
  min-width: 150px;
}

.mat-label {
  font-size: 14px;
}

.login-text {
  position: absolute;
  left: 67%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

@media (max-width: 585px) {
  .div-card {
    left: 50%;
    max-width: 280px;
  }
}

.mat-raised-button {
  color: white !important;
}

.button-submit {
  margin-top: 5%;
  margin-right: 10%;
  max-width: 130px;
  min-width: 80px;
  width: 100%;
}

.div-button-submit {
  text-align: right;
}

.div-icon-back {
  text-align: left;
}

.div-card-content-registred {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: left;
  top: 20%;
  position: absolute;
  padding: 8%;
}

.div-content-registred-title-text {
  font-size: 32px;
  font-weight: 650;
  padding-bottom: 10%;
}

.div-content-registred-message {
  font-size: 17px;
}

.div-content-registred-message-email {
  color: map-get($mat-red, A200);
  font-weight: bold;
}
