<div class="login-text">
    <p>Already a user ? <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active">Log
            In</button></p>

</div>




<mat-card class="div-card">
    <mat-card-content class="div-form-content">
        <mat-form-field class="mat-form-field">
            <mat-icon color="primary" class="icon" matPrefix aria-hidden="false" aria-label="Example home icon">
                mail_outline</mat-icon>
            <mat-label class="mat-label">
                Email
            </mat-label>
            <input matInput placeholder="Email">

        </mat-form-field>

        <mat-form-field>
            <mat-icon color="primary" class="icon" matPrefix aria-hidden="false" aria-label="Example home icon">
                lock_outline</mat-icon>
            <mat-label class="mat-label">
                Password
            </mat-label>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-icon color="primary" class="icon" matPrefix aria-hidden="false" aria-label="Example home icon">
                perm_identity_outline</mat-icon>
            <mat-label class="mat-label">
                First Name
            </mat-label>
            <input matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field>
            <mat-icon color="primary" class="icon" matPrefix aria-hidden="false" aria-label="Example home icon">
                perm_identity_outline</mat-icon>
            <mat-label class="mat-label">
                Second Name
            </mat-label>
            <input matInput placeholder="Second Name">
        </mat-form-field>
        <div class="div-button-submit">
            <button mat-raised-button color="primary" class="button-submit" >Submit</button>
        </div>
    </mat-card-content>

</mat-card>